
.benefits{
    padding-top: 60px;
    padding-bottom: 60px;
}
.benefits__title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03px;
    text-transform: uppercase;
    color: $primary-text;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.benefits__text{
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.03em;
    color: $secondary-text;
    margin-bottom: 30px;
}
.benefits__item{
    width: 290px;
}
.benefits__item::before{
    content: "";
    width: 100%;
    height: 120px;
    display: block;
    background-color:$filter-button;
    margin-bottom: 30px;
    border-radius: 4px;
}
.benefits__item:nth-child(1):before{
    background-image: url("../img/antenna.png");
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-device-pixel-ratio: 2), 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__item:nth-child(1):before{
        background-image: url(./img/antenna@2x.png);
    }
}
.benefits__item:nth-child(2)::before{
    background-image: url("../img/clock.png");
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-device-pixel-ratio: 2), 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__item:nth-child(2)::before{
        background-image: url(./img/clock@2x.png);
    }
}
.benefits__item:nth-child(3)::before{
    background-image: url("../img/diagram.png");
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-device-pixel-ratio: 2), 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__item:nth-child(3)::before{
        background-image: url(./img/diagram@2x.png);
    }
}
.benefits__item:nth-child(4)::before{
    background-image: url("../img/astronaut.png");
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-device-pixel-ratio: 2), 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__item:nth-child(4)::before{
        background-image: url(./img/astronaut@2x.png);
    }
}
@media screen and (min-width: 480px){
    .benefits__item{
        width: 450px;
    }

}
@media screen and (min-width: 768px) {
    .benefits__title{
        text-align: left;
    }
    .benefits__item{
        width: 354px;
    }
    .benefits__list{
            display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
        }
  }
  @media screen and (min-width: 1200px) {
    .benefits{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .benefits__title{
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        color: $primary-text;
    }
    .benefits__text{
            letter-spacing: 0.42px;
        }
        .benefits__item{
                width: 270px;
             }
             .benefits__list{
               flex-wrap: nowrap;
            }
  }


 
