.footer{
    background-color: $main-color;
        padding-top: 60px;
        padding-bottom: 60px;
}
.footer__wrap{ 
    display: flex; 
} 
.footer__logo{
    color: $logo-first;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.footer__logo__span{
    color: $header-color;
}
.footer__address__two{
    display: flex;
    flex-direction: column;
}
.footer__address__name{
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.42px;
    color: $main-color-second;
    margin-top: 20px;
}
.footer__address__name:hover,
.footer__address__name:focus{
    color: $logo-first;
}
.footer__address__link{
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.42px;
    color: $footer-color-second;
    margin-top: 9px;
}
.footer__address__link:hover,
.footer__address__link:focus{
    color: $logo-first;
}
.footer__socials{
    margin-left: 70px;
}
.footer__joing{
    color: $filter-button;
    margin-bottom: 20px;
}
.footer__list{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.footer__social{
    width: 44px;
    height: 44px;
    display: flex;
    align-items:center;
    justify-content: center;
    fill: $filter-button;
    border-radius: 50%;
    background-color: $footer-icon;
}
    @keyframes footerSocial{
        0%{fill: $filter-button;}
        100%{fill: $main-color-second; background-color: $logo-first;}
 }
.footer__social:hover{
        animation-name: footerSocial;
        animation-duration: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-fill-mode: forwards;
}
.footer__icon{
    width: 20px;
    height: 20px;
}

.footer__text__subscribe{
    color: $filter-button;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-left: 93px;
}
.footer__input__email{
    background-color: $footer-posision;
    border: 2px solid $close-color;
    border-radius: 4px;
    height: 50px;
    width: 358px;
    margin-left: 93px;
}
.footer__btn{
    width: 200px;
    height: 50px;
    background-color: $logo-first;
    border: none;
    border-radius: 4px;
    color: $header-color;
    padding-top: 18px;
    font-weight: 700;
    cursor: pointer;
}