.menu-container{
    position: fixed;
    top: 0;
    right: 0;
    padding: 48px 40px;
    width: 100%;
    height: 100vh;
    background-color: $header-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);;
    z-index: 999;
    transform: translateX(100%);
    transition-duration: 250ms;
    transition-timing-function: ease;
}
.menu-container.is-open{
    transform: translateX(0%);
}
.menu-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 2px;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}
.menu-button__open{
    padding: 0;
    background-color: transparent;
    margin-left: auto;
    border: none;
    cursor: pointer;
    
}
.menu-button__close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin-left: auto;
    border: none;
    cursor: pointer;
    transform: fill;
    transition-duration: 250ms;
    transition-timing-function: ease;
}
.menu-button__close:hover,
.menu-button__close:focus{
    fill: $logo-first;
}
.header__link-menu{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $text-header;
    transform: color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    cursor: pointer;
}
.header__item-menu{
    margin-top: 32px;
}
.header__link-menu:hover,
.header__link-menu:focus{
    color: $logo-first;
}
.header__contakts-link-menu{
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $logo-first; 
    cursor: pointer;
}
.header__contakts-mail-menu{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $secondary-text;
    cursor: pointer;
}
.header__contakts-mail-menu{
    margin-top: 34px;
}
.header__contakts-list-menu{
    padding-top: 320px;
}
.header__social-list-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}
.header__social-link-menu{
    font-size: 18px;
    font-weight: 500;
    color: $logo-first;
}
.header__social-item-menu:nth-child(2){
    border-left: 1px solid $modal-input;
    border-right: 1px solid $modal-input;
    padding-left: 18px;
    padding-right: 18px;
}
.header__social-item-menu:nth-child(3){
    border-right: 1px solid $modal-input;
    padding-right: 18px;
}
@media screen and (min-width: 768px){
    .menu-button{
        display: none;
    }
}