.work__list{
    display: flex;
    justify-content: space-between;
}
.work__item{
    width: 370px;
}
.work__posision{
    position: relative;
}
.work{
    padding-bottom: 94px;
}
.work__title{
    @include title();
}
.work__text-posision{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: $footer-posision;
    color: $header-color;
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}